<meta charset="utf=8">
<title>VidShare</title>
<meta name="google-signin-client_id" content="925927241615-co4f9t9tgmvr8t84a7m06najfaesb13j.apps.googleusercontent.com">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type:'text/css' href="/stylesheets/jquery-ui.min.css">
<link rel="stylesheet" type:"text/css" href="/stylesheets/chatbox.css">
<link rel="stylesheet" type:"text/css" href="/stylesheets/search.css">
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src='/javascripts/jquery-ui.min.js'></script>

<!-- socket.io adds a path to its client-side js that is not in public -->
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script src="/javascripts/search.js"></script>
<script src="/javascripts/chatbox.js"></script>
<script src ='/javascripts/youtubeAPI.js'></script>
<script src = '/socket.io/socket.io.js'></script>
<script src = '/javascripts/clientSocket.js'></script>

<script src="https://apis.google.com/js/platform.js" async defer></script>