    <div class="modal" id="newPlaylistFormModal">
        <div class='modal-background'></div>
        <div class='modal-card'>
            <header class="modal-card-head">
                <p class="modal-card-title">Add a New Playlist</p>
                <button class="delete" aria-label="close" onclick="closeNewPlaylistModal()"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                        <label class="label">Playlist Name:</label>
                        <div class="control">
                            <input class="input" id="playlist-name" type="text" placeholder="My Playlist">
                        </div>
                    </div>
                    
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button" id="addPlaylistButton">Add</button>
                        </div>
                        <div class="control">
                            <button class="button is-text">Cancel</button>
                        </div>
                    </div>            
            </section>
        </div>
    </div>
