<!DOCTYPE HTML>
<html>
    <head>
        <%- include('./header')%>
        <script src ='/javascripts/forms.js'></script>
    </head>
    <body>
            <div class="field">
                    <label class="label">Playlist Name:</label>
                    <div class="control">
                        <input class="input" id="playlist-name" type="text" placeholder="My Playlist">
                    </div>
                </div>
                
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button" id="addPlaylistButton">Add</button>
                    </div>
                    <div class="control">
                        <button class="button is-text">Cancel</button>
                    </div>
                </div>
    </body>
</html>

