<h1>Your Playlists</h1>
<table class="table">
    <tr>
        <th>Playlist Name</th>
    </tr>

    <% lists.forEach(function(list) { %>
        <tr>
            <td><a href='/playlists/show/<%=list._id%>'><%=list.name%></a></td>
        </tr>
        
    <% })%>
    
</table>
