<div class="field">
    <label class="label">Search for a Video:</label>
    <div class="control">
      <input class="input" id='video-search-bar'type="text" placeholder="">
    </div>
</div>

<div class="control">
    <button class="button is-primary" id="video-search">Search</button>
</div>

<div class="results">
    
</div>