<nav class="panel">
    <p class="panel-heading">
      Video Menu
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        
        <input class="input is-small" id="video-search-bar" type="text" placeholder="search">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>
      <button class="button is-link is-small is-outlined" id="video-search">
          Search
      </button>
      <button class="button" id="newPlaylistButton">New Playlist</button>
    </div>
    <p class="panel-tabs">
      <a class="is-active tab" data-tab="search-tab">Search</a>
      <a class='tab' data-tab="standby-tab">Standby</a>
      <a class='tab' data-tab="playlists-tab" id="getPlaylistButton">Playlists</a>

    </p>
    
    <!-- stuff on the search tab -->

    <a class = "panel-block tab-content" id="search-tab"></a>


    <!-- stuff on the standby-tab -->
    <div class="panel-block tab-content standby-tab" id="standby-tab">
      <div id="standby-tab-list"></div> </br>
    </div>
    <div class="panel-block tab-content standby-tab">
      <button id="confirmStandby" class="button">Confirm Standby</button>
    </div>
    

    <a class="panel-block tab-content" id="playlists-tab"></a>

  </nav>