
<div class = "showStandby container">
    <ol>
        <%for(let i=0; i<session.standby.length; i++ ){ %>
            <li><%= session.standby[i] %></li>
        <% } %>
    </ol>
</div>

                    

    