<ol id="standbyList">
    <%= session%>
    <!-- <% for(let int i = 0; i< session.standby.length; i++){%>
        <li>
            <p>Video: <%=session.standby[i]%></p>
        </li>
    <% }%> -->

</ol>