
<div class = "showStandby container">
    <ol>
        <%for(let i=0; i<session.standby.length; i++ ){ %>
            <li id="<%=session.standby[i].id%>"><%= session.standby[i].title %></li>
        <% } %>
    </ol>

    <button id="confirmStandby" class="button">Confirm Standby</button>
</div>

                    

    