<!Doctype HTML>
<html>
    <head>
       <%- include('partials/header') %>
    </head>

    <body>
        <div class="hero is-primary is-medium">
                <div class="container">
                    <h1 class="title">Welcome to VidShare!</h1>
                    <h2 class="subtitle">Subtitle</h2>
                    <a class="button is-primary is-inverted" href="/login">Log In</a>
                    <a class="button is-primary is-inverted" href="/signup">Sign Up</a>
                </div>               
            </div>
    </body>
</html>