<!Doctype HTML>
<html>
    <head>
       <%- include('partials/header') %>
    </head>

    <body>

        <div class="hero is-primary is-large">
            <div class='hero-body'>
                <div class="container is-fluid">
                    <h1 class="title has-text-centered is-size-1">Welcome to VidShare</h1>
                    <h2 class="subtitle has-text-centered is-size-4">Share favorite videos with friends remotely!</h2>
                    <div class="buttons has-addons is-centered">
                        <a class="button is-primary is-inverted" href="/login">Log In</a>
                        <a class="button is-primary is-inverted" href="/signup">Sign Up</a>
                    </div>
                </div>    
            </div>
                           
            </div>
    </body>
</html>