<!DOCTYPE html>
<html>
    <script="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- socket.io adds a path to its client-side js that is not in public -->
    <script src = '/socket.io/socket.io.js'></script>
    <script src = '../public/javascripts/clientSocket.js'></script>

    <body>
        <p>There are currently <span id="numUsers">no</span> users </p>
    </body>
</html>